body {
    display: flex;
    justify-content: center;
    height: 100vh; /* Ensure the body takes the full viewport height */
    font-family: Arial, sans-serif;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 100px; 
}

.heading {
    text-align: center;
}

.form-container {
    width: 500px;
    max-width: 900px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.btn-danger {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.back-to-list {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: cadetblue;
}

/* Media queries for responsiveness */
@media (max-width: 992px) { /* md and below */
    .form-container {
        width: 100%; /* Full width for medium screens */
        padding: 20px; /* Reduced padding */
    }

    .btn-danger {
        font-size: 14px; /* Smaller font size */
    }

    .form-control {
        padding: 8px; /* Adjust padding for form control */
    }
}

@media (max-width: 576px) { /* sm and below */
    .form-container {
        width: 300px; /* Full width for small screens */
        padding: 15px; /* Further reduced padding */
    }

    .btn-danger {
        font-size: 12px; /* Smaller font size */
        padding: 8px; /* Adjust padding */
    }

    .form-control {
        padding: 6px; /* Adjust padding for form control */
    }

    .heading {
        font-size: 1.2em; /* Adjust heading font size */
    }
}
