a, a:hover, a:focus {
    text-decoration: none;
}

.btn-add-user {
    background-color: cadetblue;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 10px;
}

    .btn-add-user:hover {
        background-color: lightsteelblue;
        color: black;
        text-decoration: none;
    }

.table a i.fas {
    color: #6c757d;
    transition: color 0.3s;
    margin-right: 15px;
}

.table a:hover i.fas {
    color: cadetblue;
}

.table-container {
    border-radius: 8px;
    border: 1px solid #ddd;
    overflow: hidden;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

    .table th, .table td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .table th {
        background-color: #f2f2f2;
    }

    .table tbody tr:hover {
        background-color: #f5f5f5;
    }

    .table tbody td {
        vertical-align: middle;
    }

.badge.badge-success {
    background-color: rgba(144, 238, 144, 0.3) !important;
    color: darkgreen !important;
    font-size: 0.9em;
    padding: 5px 10px;
    font-weight: 420;
    width: 70px;
    height: 24px;
    margin-bottom: 12px;
    border-radius: 50px;
}

.badge-secondary {
    background-color: rgba(211, 211, 211, 0.4) !important;
    color: darkslategrey;
    font-size: 0.9em;
    padding: 5px 10px;
    font-weight: 420;
    border-radius: 50px;
}

.search-bar {
    flex-grow: 1;
    padding: 6px 0;
    max-width: 800px;
}

    .search-bar .form-control {
        border-radius: 0;
    }

.container {
    margin-left: 30px;
    margin-right: 30px;
}

.header-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-bottom: 10px;
}

.search-form {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 20px;
}

.input-group {
    flex-grow: 1;
    display: flex;
}

.date-filters {
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
}

.date-picker {
    margin-right: 10px;
}

.dropdown-container {
    margin-top: 10px;
    margin-left: 2  0px;
    display: flex;
    justify-content: flex-start;
}

.dropdown-filter {
    font-size: 1em;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

    .dropdown-filter:focus {
        border-color: cadetblue;
        box-shadow: 0 0 5px rgba(95, 158, 160, 0.5);
    }

@media (max-width: 1170px) {
    .btn-add-user {
        width: 100%;
        padding: 5px 10px;
        margin-left: 0;
        font-size: 0.8em;
        margin-bottom: 10px;
    }

    .header-controls {
        flex-direction: column;
        align-items: flex-start;
    }

    .input-group {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .btn-actions {
        display: flex;
    }

    .btn-users {
        margin-left: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .btn-add-user {
        width: 100px;
        padding: 5px 10px;
        margin-left: 0;
        font-size: 0.8em;
    }

    .header-controls {
        flex-direction: column;
        align-items: flex-start;
    }

    .input-group {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .btn-actions {
        display: flex;
    }

    .btn-users {
        margin-left: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}
