.btn-add-user {
    background-color: cadetblue; /* Cadet blue background color */
    color: white; /* White text color */
    text-decoration: none; /* Remove underline */
    border-radius: 7px; /* Rounded button corners */
    padding: 10px 15px; /* Adjust padding for button size */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for color change */
    margin-right: 25px;
}

    .btn-add-user:hover {
        background-color: lightsteelblue; /* Lighter shade of cadet blue on hover */
        color: black; /* Maintain white text color on hover */
        text-decoration: none; /* Remove underline on hover */
    }

/* Edit and delete icons */
.table a i.fas {
    color: #6c757d; /* Initial gray color */
    transition: color 0.3s; /* Smooth transition for color change */
    margin-right: 15px;
}

/* Hover state for edit and delete icons */
.table a:hover i.fas {
    color: cadetblue; /* Cadet blue color on hover */
}

/* Container for the table */
.table-container {
    border-radius: 8px; /* Slight curved border radius */
    border: 1px solid #ddd; /* Light gray border */
    overflow: hidden; /* Ensure border radius is applied properly */
    margin-left: 30px; /* Matching left margin */
    margin-right: 30px;
    padding: 20px; /* Padding inside the container */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: Add shadow */
    overflow-x: auto; /* Enable horizontal scrolling */
}

/* Table header and data alignment */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

    .table th, .table td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .table th {
        background-color: #f2f2f2;
    }

    .table tbody tr:hover {
        background-color: #f5f5f5;
    }

    .table tbody td {
        vertical-align: middle;
    }


.badge.badge-success {
    background-color: rgba(144, 238, 144, 0.3) !important; 
    color: darkgreen !important;
    font-size: 0.9em;
    padding: 5px 10px;
    font-weight:420;
    width: 70px;
    height: 24px;
    margin-bottom: 12px;
    border-radius: 50px;
}

.badge-secondary {
    background-color: rgba(211, 211, 211, 0.4) !important;
    color: darkslategrey;
    font-size: 0.9em;
    padding: 5px 10px;
font-weight: 420;
border-radius: 50px;
}

/* Adjustments for the search bar */
.search-bar {
    padding: 6px 0; /* Adjust horizontal padding */
    max-width: 800px;
    margin-left: 18px;
}

    .search-bar .form-control {
        border-radius: 0; /* Remove border radius if not needed */
    }

/* Container and header controls for consistent margin */
.container {
    margin-left: 30px; /* Matching left margin */
    margin-right: 30px; /* Matching right margin */
}

.header-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px; /* Add right margin */
}

.search-form {
    margin: 0;
    flex-grow: 1;
}

.input-group {
    margin-right: 200px;
}



@media (max-width: 1170px) { /* md and below */
    .btn-add-user {
        padding: 5px 10px; /* Smaller padding for medium screens and smaller */
        margin-right: 10px; /* Adjust margin */
        font-size: 0.8em; /* Smaller font size */
    }

    .header-controls {
        flex-direction: column;
        align-items: flex-start;
    }

    .input-group {
        margin-right: 0;
        margin-bottom: 10px;
        width: 700px; /* Make the search bar take full width */
    }

    .btn-actions {
        display: flex;
    }

    .btn-users {
        margin-left: 20px;
        display: flex;
    }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .btn-add-user {
        padding: 5px 10px; /* Smaller padding for smaller screens */
        margin-right: 10px; /* Adjust margin */
        font-size: 0.8em; /* Smaller font size */
    }

    .header-controls {
        flex-direction: column;
        align-items: flex-start;
    }

    .input-group {
        margin-right: 0;
        margin-bottom: 10px;
        width: 320px; /* Make the search bar take full width */
    }

    .btn-actions {
        display: flex;
    }

    .btn-users {
        margin-left: 20px;
        display: flex;
    }
}
